@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  background-color: #38883f;
  height: 53px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 3px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 1000;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
    z-index: 1000;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.page-footer {
  background-color: #38883f;
}

.main-contain {
  padding: 0.5rem 1rem;
}

.carousel {
  padding: 0.5rem 1rem;
}

/* Slider */

#slider {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}

@-webkit-keyframes load {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes load {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

.slides {
  width: 400%;
  height: 100%;
  position: relative;
  -webkit-animation: slide 30s infinite;
  animation: slide 30s infinite;
}

.slider {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
}

.image img {
  width: 100%;
  height: auto;
}

/* Legend */

.legend {
  border: 500px solid transparent;
  border-left: 800px solid rgba(52, 73, 94, 0.7);
  border-bottom: 0;
  position: absolute;
  bottom: 0;
}

/* Contents */

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.content-txt {
  width: 400px;
  height: 150px;
  float: left;
  position: relative;
  top: 300px;
  -webkit-animation: content-s 7.5s infinite;
  animation: content-s 7.5s infinite;
}

.content-txt h1 {
  font-family: Arial;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  text-align: left;
  margin-left: 30px;
  padding-bottom: 10px;
}

.content-txt h2 {
  font-family: arial;
  font-weight: normal;
  font-size: 14px;
  font-style: italic;
  color: #fff;
  text-align: left;
  margin-left: 30px;
}

/* Switch */

.switch {
  width: 120px;
  height: 10px;
  position: absolute;
  bottom: 50px;
  z-index: 99;
  left: 30px;
}

.switch > ul {
  list-style: none;
}

.switch > ul > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
  float: left;
  margin-right: 5px;
  cursor: pointer;
}

.switch ul {
  overflow: hidden;
}

.on {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f39c12;
  position: relative;
  -webkit-animation: on 30s infinite;
  animation: on 30s infinite;
}

/* Animation */

@-webkit-keyframes slide {
  0%, 100% {
    margin-left: 0%;
  }

  21% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }

  46% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  71% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  96% {
    margin-left: -300%;
  }
}

@keyframes slide {
  0%, 100% {
    margin-left: 0%;
  }

  21% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }

  46% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  71% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  96% {
    margin-left: -300%;
  }
}

@-webkit-keyframes content-s {
  0% {
    left: -420px;
  }

  10% {
    left: 0px;
  }

  30% {
    left: 0px;
  }

  40% {
    left: 0px;
  }

  50% {
    left: 0px;
  }

  60% {
    left: 0px;
  }

  70% {
    left: 0;
  }

  80% {
    left: -420px;
  }

  90% {
    left: -420px;
  }

  100% {
    left: -420px;
  }
}

@keyframes content-s {
  0% {
    left: -420px;
  }

  10% {
    left: 20px;
  }

  15% {
    left: 0px;
  }

  30% {
    left: 0px;
  }

  40% {
    left: 0px;
  }

  50% {
    left: 0px;
  }

  60% {
    left: 0px;
  }

  70% {
    left: 0;
  }

  80% {
    left: -420px;
  }

  90% {
    left: -420px;
  }

  100% {
    left: -420px;
  }
}

@-webkit-keyframes on {
  0%, 100% {
    margin-left: 0%;
  }

  21% {
    margin-left: 0%;
  }

  25% {
    margin-left: 15px;
  }

  46% {
    margin-left: 15px;
  }

  50% {
    margin-left: 30px;
  }

  71% {
    margin-left: 30px;
  }

  75% {
    margin-left: 45px;
  }

  96% {
    margin-left: 45px;
  }
}

@keyframes on {
  0%, 100% {
    margin-left: 0%;
  }

  21% {
    margin-left: 0%;
  }

  25% {
    margin-left: 15px;
  }

  46% {
    margin-left: 15px;
  }

  50% {
    margin-left: 30px;
  }

  71% {
    margin-left: 30px;
  }

  75% {
    margin-left: 45px;
  }

  96% {
    margin-left: 45px;
  }
}

/* Style the counter cards */

.grid-container {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.grid-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.item1 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}

.item2 {
  grid-column: 3;
  grid-row: 1;
}

.item3 {
  grid-column: 3;
  grid-row: 2;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.blog-card a {
  color: inherit;
}

.blog-card a:hover {
  color: #5ad67d;
}

.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}

.blog-card .details ul li {
  display: inline-block;
}

.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\F007";
}

.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\F133";
}

.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\F02B";
  margin-right: 10px;
}

.blog-card .details .tags li {
  margin-right: 2px;
}

.blog-card .details .tags li:first-child {
  margin-left: -4px;
}

.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card .description .read-more {
  text-align: right;
}

.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}

.blog-card .description .read-more a:after {
  content: "\F061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.blog-card:hover .details {
  left: 0%;
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }

  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }

  .blog-card .description {
    flex-basis: 60%;
  }

  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .blog-card.alt {
    flex-direction: row-reverse;
  }

  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }

  .blog-card.alt .details {
    padding-left: 25px;
  }
}

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

button.accordion.active,
button.accordion:hover {
  background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */

/* div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
} */

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* icons */

button.accordion:after {
  content: "\2795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

