//color
$border-dark: rgb(32, 32, 28);
$black: #000000;
$white: #ffff;
$green:rgb(56, 136, 63);
$hover-col:rgba(0, 0, 0, 0.3);
$black: #000000;
$gold-gradient:linear-gradient(to bottom, rgba(222, 199, 71, 1) 0%, 
             rgba(222, 199, 71, 1) 3%, rgba(169, 141, 29, 1) 22%, 
             rgba(255, 243, 114, 1) 56%, rgba(240, 225, 88, 1) 70%, 
             rgba(222, 199, 71, 1) 100%);
$blue-gradient:linear-gradient(bottom, rgba(73, 155, 234, 1) 0%, 
             rgba(73, 155, 234, 1) 34%, rgba(32, 124, 229, 1) 52%, 
             rgba(73, 155, 234, 1) 80%, rgba(73, 155, 234, 1) 100%);
$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;